@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    width: 94vw;
  }

  menu {
    width: 94vw;
  }

  main {
    width: 94vw;
    padding-bottom: 20px;
  }

  .proc-impar {
    display: flex;
    height: 300px;
    border-radius: 0px;
  }

  .proc-impar figure {
    height: 300px;
    padding-top: 0px;
    margin-right: 20px;
  }

  .proc-impar img {
    width: 350px;
    height: 300px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .proc-impar section {
    height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .proc-par {
    display: flex;
    flex-direction: row-reverse;
    height: 300px;
    border-radius: 0px;
  }

  .proc-par figure {
    height: 300px;
    padding-top: 0px;
  }

  .proc-par img {
    width: 350px;
    height: 300px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 0px;
  }

  .proc-par section {
    height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 80%;
  }

  main > div#procedimentos {
    padding: 0px;
  }
}

@media screen and (min-width: 993px) {
  body {
    width: 98vw;
  }

  header {
    display: flex;
    justify-content: space-around;
    border-bottom: thin solid var(--cor-principal);
  }

  header > div#logo {
    height: 120px;
    width: 120px;
    display: flex;
    margin-top: 40px;
    background: url("../assets/NRLogo.png") no-repeat;
    background-size: contain;
  }

  span#burguer {
    display: none;
  }
  menu#menu2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  menu#menu2 a {
    margin-right: 20px;
  }

  header > div#dash {
    display: flex;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
  }

  main > div#procedimentos {
    width: 55vw;
    min-width: 850px;
  }

  .proc-impar {
    display: flex;
    height: 450px;
    border-radius: 0px;
    min-width: 500px;
    align-items: center;
  }

  .proc-impar figure {
    width: 50%;
    height: 100%;
    padding-top: 0px;
    margin-right: 0px;
  }

  .proc-impar img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-size: contain;
  }

  .proc-impar section {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .proc-impar h1 {
    font-size: 2em;
  }

  .proc-impar p {
    font-size: 1.2em;
    padding-top: 15px;
  }

  .proc-par {
    display: flex;
    flex-direction: row-reverse;
    height: 450px;
    border-radius: 0px;
    min-width: 500px;
    align-items: center;
  }

  .proc-par figure {
    width: 50%;
    height: 100%;
    padding-top: 0px;
    margin: 0px;
  }

  .proc-par img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-size: contain;
    margin: 0px;
  }

  .proc-par section {
    height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .proc-par h1 {
    font-size: 2em;
  }

  .proc-par p {
    font-size: 1.2em;
    padding-top: 15px;
  }

  .btn-agendar {
    width: 50%;
    font-size: 1.5em;
    margin-top: 20px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98vw;
  }

  footer .container {
    display: flex;
    width: 98vw;
  }

  footer div.esquerda {
    display: flex;
  }
  footer div.direita {
    display: flex;
  }

  footer section {
    flex-direction: column;
    display: flex;
    height: 100%;
    margin-bottom: 20px;
  }

  footer #cursos {
    display: flex;
  }
}
