@charset "UTF-8";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hubballi&display=swap");

:root {
  --cor-principal: #d9a2a2;
  --cor-hover: #e79090;
  --cor-texto: #755044;

  --fonte-padrao: "Inter";
  --fonte-h1: "Cormorant Garamond";
  --fonte-btn: "Hubballi";
}

/*geral*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  background-color: white;
}

/*cabeçalho*/

header {
  text-align: center;
  display: block;
  width: 96vw;
  margin: auto;
}

div#logo {
  display: none;
  background: url("../assets/NRLogo.png") no-repeat;
  background-size: contain;
}

span#burguer {
  color: var(--cor-principal);
  font-size: 30px;
  display: block;
  height: 40px;
  width: 96vw;
  margin: auto;
}

span#burguer:hover {
  color: white;
  background-color: var(--cor-hover);
  cursor: pointer;
}

menu {
  display: none;
  padding-block: 10px;
}

menu > ul {
  list-style-type: none;
}

menu li {
  padding-bottom: 5px;
}

menu a {
  color: var(--cor-principal);
  width: auto;
  height: 20px;
  text-align: center;
  font-family: var(--fonte-padrao);
  font-weight: 300;
  text-decoration: none;
  font-size: 1.9em;
}

menu a:hover {
  text-decoration: underline;
}

header > div#dash {
  display: none;
}

div#dash > span.material-icons a {
  text-decoration: none;
  color: var(--cor-principal);
  font-size: 50px;
}

div#dash > span.material-icons a:hover {
  color: var(--cor-hover);
}

/*main*/

main {
  width: 96vw;
  height: fit-content;
  border-top: thin solid var(--cor-principal);
  border-bottom: thin solid var(--cor-principal);
  margin: auto;
}

main > div#procedimentos {
  padding: 20px;
}

.proc-impar {
  text-align: center;
  margin-top: 3%;
  display: block;
  border: thin solid var(--cor-principal);
  border-radius: 19px;
}

.proc-impar figure {
  padding-top: 10px;
  height: 40%;
}
.proc-impar img {
  width: 80vw;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.proc-impar section {
  height: 40%;
  padding: 15px;
}

.proc-impar h1 {
  font-family: var(--fonte-h1);
  color: var(--cor-texto);
}

.proc-impar p {
  font-family: var(--fonte-padrao);
  font-weight: 300;
  color: var(--cor-texto);
  margin-bottom: 15px;
}

.proc-par {
  text-align: center;
  margin-top: 3%;
  display: block;
  border: thin solid var(--cor-principal);
  border-radius: 15px;
}

.proc-par figure {
  padding-top: 10px;
  height: 40%;
}
.proc-par img {
  width: 80vw;
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
}

.proc-par section {
  height: 40%;
  padding: 15px;
}

.proc-par h1 {
  font-family: var(--fonte-h1);
  color: var(--cor-texto);
}

.proc-par p {
  font-family: var(--fonte-padrao);
  font-weight: 300;
  color: var(--cor-texto);
  margin-bottom: 15px;
}

.btn-agendar {
  width: 40vw;
  height: 40px;
  border-radius: 25px;
  font-family: var(--fonte-btn);
  font-weight: 300;
  font-size: 1.5em;
  background-color: var(--cor-principal);
  border: none;
}

.btn-agendar:hover {
  background-color: white;
  color: var(--cor-hover);
  border: thin solid var(--cor-hover);
  font-weight: 500;
}

.line {
  border-bottom: thin solid var(--cor-principal);
  margin-bottom: 8%;
}

footer {
  padding: 20px;
  width: 96vw;
  height: 300px;
  display: block;
  text-align: center;
  margin: auto;
}

footer .container {
  height: 320px;
  display: block;
  border-bottom: thin solid var(--cor-principal);
}

footer div.esquerda {
  display: none;
}
footer div.direita {
  display: block;
  text-align: center;
}

footer section {
  flex-direction: column;
  display: flex;
  height: 100%;
  margin-bottom: 20px;
}

footer #cursos {
  display: none;
}

footer h1 {
  font-size: 1.2em;
  font-family: var(--fonte-padrao);
  color: var(--cor-hover);
  font-weight: bold;
}
footer a {
  margin-bottom: 10px;
  text-decoration: none;
  color: grey;
  font-size: 1em;
}

div#trademark {
  display: block;
  margin-top: 80px;
  text-align: center;
  padding-bottom: 35px;
}

div#trademark p {
  font-family: var(--fonte-padrao);
  color: var(--cor-principal);
  font-weight: 300;
  font-size: 1.2em;
  display: block;
}
