@charset "UTF-8";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --cor-principal: #d9a2a2;
  --cor-hover: #e79090;
  --cor-texto: #755044;

  --fonte-padrao: "Inter";
  --fonte-h1: "Cormorant Garamond";
  --fonte-btn: "Montserrat Alternates";
}

/*geral*/

* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*cabeçalho*/

header {
  padding-left: 80px;
  padding-right: 80px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  min-width: 700px;
}

header > div.cont {
  height: 100px;
  width: 60%;
  margin-right: 10px;
  flex-direction: row;
}

header > div#logo {
  background: url("../assets/NRLogo.png") no-repeat;
  background-size: contain;
  width: 15%;
  height: 80%;
}

div#menu-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

div#menu-container > div.menu-item {
  width: auto;
  display: flex;
  padding: 5px;
  margin: 5px;
  align-items: center;
}

.menu-item a {
  color: var(--cor-principal);
  width: auto;
  height: 20px;
  text-align: center;
  font-family: var(--fonte-padrao);
  font-weight: 300;
  text-decoration: none;
  font-size: 1.2em;
}

.menu-item a:hover {
  text-decoration: underline;
}

header > div#dash {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
}

div#dash > span.material-icons a {
  text-decoration: none;
  color: var(--cor-principal);
  font-size: 50px;
}

div#dash > span.material-icons a:hover {
  color: var(--cor-hover);
}

/*main*/

main {
  min-width: 98.9vw;
  height: fit-content;
  border-top: thin solid var(--cor-principal);
  border-bottom: thin solid var(--cor-principal);
  display: flex;
  justify-content: center;
}

main > div#procedimentos {
  width: 50vw;
  padding-bottom: 30px;
}

.proc-impar {
  margin-top: 3%;
  display: flex;
  min-width: 700px;
  height: 390px;
  align-items: center;
  justify-content: flex-start;
  border: 0.1px solid var(--cor-principal);
}

.proc-impar figure {
  width: 50%;
  height: 100%;
}
.proc-impar img {
  width: 100%;
  height: 100%;
}

.proc-impar section {
  width: 35%;
  margin-left: 10%;
}

.proc-impar h1 {
  font-family: var(--fonte-h1);
  margin-bottom: 8%;
  color: var(--cor-texto);
}

.proc-impar p {
  font-family: var(--fonte-padrao);
  margin-bottom: 8%;
  font-weight: 300;
  color: var(--cor-texto);
}

.proc-par {
  margin-top: 3%;
  display: flex;
  min-width: 700px;
  height: 390px;
  align-items: center;
  justify-content: flex-start;
  border: 0.1px solid var(--cor-principal);
  flex-direction: row-reverse;
}

.proc-par figure {
  width: 50%;
  height: 100%;
}
.proc-par img {
  width: 100%;
  height: 100%;
}

.proc-par section {
  width: 35%;
  margin-right: 10%;
}

.proc-par h1 {
  font-family: var(--fonte-h1);
  margin-bottom: 8%;
  color: var(--cor-texto);
}

.proc-par p {
  font-family: var(--fonte-padrao);
  margin-bottom: 8%;
  font-weight: 300;
  color: var(--cor-texto);
}

.btn-agendar {
  width: 120px;
  height: 40px;
  border-radius: 25px;
  font-family: var(--fonte-btn);
  font-weight: 300;
  background-color: var(--cor-principal);
  border: none;
}

.btn-agendar:hover {
  background-color: white;
  color: var(--cor-hover);
  border: thin solid var(--cor-hover);
  font-weight: 500;
}

.line {
  border-bottom: thin solid var(--cor-principal);
  width: 100%;
  margin-bottom: 8%;
}

footer {
  height: 300px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div.container {
  margin-top: 0px;
  height: 200px;
  width: 60vw;
  display: flex;
  border-bottom: thin solid var(--cor-principal);
}

footer div.esquerda {
  width: 50%;
}
footer div.direita {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer section {
  padding-left: 5px;
  flex-direction: column;
  display: flex;
  width: 30%;
  height: 100%;
}

footer section#contato {
  width: 80%;
}

footer h1 {
  font-size: 1.2em;
  font-family: var(--fonte-padrao);
  color: var(--cor-hover);
  font-weight: 400;
  padding-bottom: 10px;
}
footer a {
  margin-bottom: 10px;
  text-decoration: none;
  color: grey;
  font-size: 1em;
}
div#trademark {
  margin-top: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

div#trademark p {
  font-family: var(--fonte-padrao);
  color: var(--cor-principal);
  font-weight: 300;
  font-size: small;
  margin-top: 0px;
  margin-bottom: 30px;
}
